---
import Layout from '../../../layouts/Layout.astro';
import Form from '../../../components/Form.jsx'

import names from '../../../assets/vardi.json';

interface Names {
	[code: string]: {vok:string, gen:string}; 
}



export function getStaticPaths() {

const typeScriptPleaseLeaveMeAlone: Names = names;

return Object.keys(names).map(key => ({
  params: { name: key },
  props: { nameVok: typeScriptPleaseLeaveMeAlone[key]["vok"], nameGen: typeScriptPleaseLeaveMeAlone[key]["gen"],  code: key  }
}));
}

const { nameVok, nameGen, code } = Astro.props;

---

<Layout  Title={`${nameGen} atbilde`}>
    <Form kods={code} client:load></Form>
</Layout>
